/static/bujo.jpg filter=lfs diff=lfs merge=lfs -text
/static/penny.jpg filter=lfs diff=lfs merge=lfs -text
/static/portfolio.jpg filter=lfs diff=lfs merge=lfs -text
/static/cookieclicker2.jpg filter=lfs diff=lfs merge=lfs -text
