/static/cookieclicker2/jpg filter=lfs diff=lfs merge=lfs -text
portfolio.jpg filter=lfs diff=lfs merge=lfs -text
/static/bujo.jpg filter=lfs diff=lfs merge=lfs -text
/static/contactkeeper.jpg filter=lfs diff=lfs merge=lfs -text
/static/portfolio.jpg filter=lfs diff=lfs merge=lfs -text
/static/cookieclicker2.jpg filter=lfs diff=lfs merge=lfs -text
