:root {
  --color: #29339b;
  --opposite: #eac435;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.frame {
  max-width: 1000px;
  margin: 0 auto;
}

header nav a:hover,
#intro nav a:hover,
.hoover:hover + p {
  color: var(--color);
}

.name {
  color: var(--color);
  transition: translate;
}

footer a:hover,
#oops a:hover {
  border-bottom-color: var(--opposite);
}

footer a,
#oops a {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

footer {
  background-color: var(--color);
  color: #ffffff;
}

footer nav a {
  margin-right: 20px;
}

/* about page css */

.current > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.current ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.current h2 {
  font-size: 3rem;
  text-align: center;
}

.current a {
  color: black;
  display: block;
  padding: 1rem;
  margin: 1.5rem 5rem 1.5rem 0rem;
  width: 300px;
  box-shadow: 0 0 2px #9f9f9f;
  transition: transform 0.25s ease;
  font-size: 1.25rem;
  line-height: 2rem;
  border-radius: 15px;
}

.current a:hover {
  transform: scale(1.05);
}

.current a span {
  font-weight: bold;
}

.current a div {
  font-weight: bold;
  color: var(--color);
  margin-bottom: 0.5rem;
}

.name {
  color: var(--color);
}

.nameSpan {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}

.c {
  position: absolute;
  top: 0;
  right: 0;
}

.photo-hover:hover {
  animation: 0.5s ease-in-out shake;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.project-image {
  width: 100%;
  height: 581px;
}

.back-button {
  color: #ffffff;
}

.project {
  color: #ffffff;
  padding: 64px 0 0 64px;
}

.project p {
  font-weight: bold;
  font-size: 36px;
  margin: 5px 0;
}

.project small:last-child {
  font-style: italic;
}

.dark {
  color: #000000;
}

/* .project-article {
} */

.project-article p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.project-article h3 {
  font-size: 2rem;
}

#footer-span::after {
  content: "to the right";
}

footer {
  flex-direction: row;
}

/* 
Article page css
*/

.article {
  margin-top: 32px;
  position: relative;
}

.article article a,
.live-site a {
  color: black;
  border-bottom: 2px solid #000;
}

.article article a:hover,
.live-site a:hover {
  border-bottom-color: var(--opposite);
}

.article img {
  border-radius: 10px 10px 0 0;
}

.article > header,
.article > article,
.article > div {
  background-color: #eff0fb;
}

.article h1,
.article > div,
.article > article {
  padding: 32px 16px;
}

.article h1,
.article h2,
.article p,
.article ul {
  margin: 0;
}

.project-article {
  padding-bottom: 32px;
}

.live-site {
  font-size: 30px;
}

.AnyClassForContainer {
  position: fixed;
  right: -200px;
  bottom: 10px;
  transition: right 0.5s;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.AnyClassForTransition {
  right: 10px;
}

/* Media queries */
@media (max-width: 1000px) {
  #footer-span::after {
    content: "below";
  }
  footer {
    flex-direction: column;
  }
}
