html {
  font-family: "Roboto";
}

header nav a:hover,
#intro nav a:hover,
.hoover:hover + p,
footer a:hover {
  color: #e3ae96;
}

footer a:hover {
  border-bottom-color: #e3ae96;
}

footer a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

footer nav a {
  margin-right: 20px;
}
